<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div id="wrapper">
		<ul th:replace="layout :: frgSideBar"></ul>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="layout :: frgTopBar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 th:text="${title}" class="h3 mb-0 text-gray-800"></h1>
					</div>					
					<table class="table table-hover">
						<thead>
							<tr>
							    <th>Fecha Inicio</th>
								<th>Fecha Unidad I</th>
								<th>Fecha Unidad II</th>
								<th>Fecha Unidad III</th>
								 <th>Fecha Fin</th>
								<th>C&oacute;digo</th>
								<th>Descripci&oacute;n</th>
								
								<th><a class="btn btn-sm btn-success"
									th:href="@{/semestre/create}">&nbsp;Nuevo</a></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="s : ${semestres}">
								<td th:text="${s.fechaInicio()}"></td>
								<td th:text="${s.fechaUnidadI()}"></td>
								<td th:text="${s.fechaUnidadII()}"></td>
								<td th:text="${s.fechaUnidadIII()}"></td>
								<td th:text="${s.fechaFin()}"></td>
								<td th:text="${s.codigo}"></td>
								<td th:text="${s.descripcion}"></td>
								<td><a class="btn btn-sm btn-warning"
									th:href="@{/semestre/update/} + ${s.idsemestre}">&nbsp;Actualizar</a>
									<a class="btn btn-sm btn-info"
									th:href="@{/semestre/retrieve/} + ${s.idsemestre}">&nbsp;Consultar</a>
								</td>
							</tr>
						</tbody>
					</table>

				</div>
				<!-- /.container-fluid -->

			</div>
			
			<footer th:replace="layout :: frgFooter"></footer>

		</div>

	</div>
	

</body>
</html>