<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body id="page-top">

	<div id="wrapper">
		<ul th:replace="layout :: frgSideBar"></ul>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<nav th:replace="layout :: frgTopBar"></nav>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div class="container">

						<div class="card o-hidden border-0 shadow-lg my-5">
							<div class="card-body p-0">
								<!-- Nested Row within Card Body -->
								<div class="row">
									<div class="col-lg-7">
										<div class="p-5">
											<div class="text-center">
												<h1 th:text="${title}" class="h4 text-gray-900 mb-4"></h1>
											</div>
											<form class="user" th:action="@{/materia/save}"
												th:object="${materia}" method="post">
												<hr>
												<div class="form-group row">
													
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="text" class="form-control form-control-user"
															th:field="*{nombre}" placeholder="Nombre">
													</div>

													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="text" class="form-control form-control-user"
															th:field="*{nrc}" placeholder="NRC">
													</div>

													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="text" class="form-control form-control-user"
															th:field="*{creditos}" placeholder="Creditos">
													</div>
												</div>

												<div class="form-group row">
													<div class="content col-sm-3">
														<i class="fas fa-info-circle"></i> <label
															class="h5 col-form-label"></label>
													</div>
													<div class="form-group row">
														<div class="form-select ">
															<select class="list-group-item list-group-item-action list-group-item-primary"
																th:field="*{area.idarea}">
																
																<option th:each="la : ${areas}" th:value="${la.idarea}"
																	th:text="${la.nombre}"
																	th:selected="${materia.area.idarea == la.idarea}"></option>
															</select>
														</div>
														
														<div class="form-select ">
															<select class="list-group-item list-group-item-action list-group-item-primary"
																th:field="*{semestre.idsemestre}">
																
																
																<option th:each="ls : ${semestres}" th:value="${ls.idsemestre}"
																	th:text="${ls.descripcion}"
																	th:selected="${materia.semestre.idsemestre == ls.idsemestre}"></option>
															</select>
														</div>
													</div>
												</div>

												<hr>
												<div class="form-group row">
													<div class="col-sm-6 mb-3 mb-sm-0">
														<input type="submit"
															class="btn btn-success btn-user btn-block"
															value="Guardar" />
													</div>
													<div class="col-sm-6 mb-3 mb-sm-0">
														<a th:href="@{/materia/list}"
															class="btn btn-danger btn-user btn-block">Cancelar</a>
													</div>
												</div>

												<input type="hidden" th:field="*{idmateria}" />

											</form>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>



				</div>
				<!-- /.container-fluid -->

			</div>

			<footer th:replace="layout :: frgFooter"></footer>

		</div>

	</div>


</body>
</html>